<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://easeaccess.org/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://win12.hostasp.net:8172</MSDeployServiceURL>
    <DeployIisAppPath>easeaccess.org</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>custom</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Custom.Containers.SocialDbContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Custom.Containers.SocialDbContext, Custom.WebApi" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReflectionModelContainer" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Custom.Reflection.ReflectionModelContainer, Custom.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SocialModelContainer" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Custom.Social.SocialModelContainer, Custom.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Custom.Trading.TradingModelContainer" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Custom.Trading.TradingModelContainer, Custom.WebApi" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="10" Enabled="False">
          <Destination Path="Data Source=mssql08.sys10.hostasp.net;Initial Catalog=aces;User ID=custom;Password=Kadabra_2013!" Name="server=mssql08.sys10.hostasp.net;database=aces;uid=custom;pwd=Kadabra_2013!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Custom-20130213125013.mdf;Initial Catalog=aspnet-Custom-20130213125013;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Custom-20130213125013.mdf;Initial Catalog=aspnet-Custom-20130213125013;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Custom.Containers.SocialDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Custom.Trading.TradingModelContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=mssql08.sys10.hostasp.net;database=aces;uid=custom;pwd=Kadabra_2013!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReflectionModelContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialModelContainer-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Custom.Containers.SocialDbContext" />
    <_ConnectionStringsToInsert Include="Custom.Trading.TradingModelContainer" />
  </ItemGroup>
</Project>